@model BusinessObject.Departmennt

@{
    ViewData["Title"] = "Details";
}

<style>
    .details-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .details-label {
        flex-basis: 30%;
    }

    .details-value {
        flex-basis: 70%;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.DepartmentID)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.DepartmentID)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.DepartmentName)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.DepartmentDescription)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.DepartmentDescription)
        </div>
    </div>



</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.DepartmentID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
