@model BusinessObject.Employee

@{
    ViewData["Title"] = "Delete";
}
<style>
    .details-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .details-label {
        flex-basis: 30%;
    }

    .details-value {
        flex-basis: 70%;
    }
</style>
<h1>Delete</h1>



<div>
    <h4>Customer</h4>
    <hr />
    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.EmployeeID)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.FullName)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.FullName)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.Skills)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.Skills)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.Telephone)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.Telephone)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>


    <form asp-action="Deleted" asp-route-id="@Model.EmployeeID" class="confirm-delete">
        <input type="hidden" name="id" value="@Model.EmployeeID" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>


</div>

